@import './variables';
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';

.icon-size {
    height: 2rem;
    width: 2rem;
}

//Nav section   
.logo-txt {
    font-family: 'Stalinist One', 'cursive';
    font-size: 1.5rem;
    letter-spacing: 1.2rem;
}

.navbar {
    background-color: $violet;
}

.navbar li a {
    color: $greytext;
    padding: 1rem 2rem;
    &:hover {
        transition: $smooth;
        background-color: $white;
        color: $black;
    }
}
// Cover section
.cover {
    padding: 15% 7% 20%;
    background-size: cover;
    background-image: url('/img/cover_small.jpg');
    background-attachment: fixed;
}

.cover-txt {
    padding: 5% 0;
    font-family: 'Righteous', sans-serif;
    font-size: 3rem;
}

//Empty cart
.emptyCart {
    padding: 5% 7%;
    background-color: $white;
}
// Cart 
.cart {
    padding: 15% 7% 5%;
    background-color: $white;
}

// Login
.login {
    padding: 17.5% 7%;
    background-color: $white;
}

// Register
.register {
    padding: 15.8% 7%;
    background-color: $white;
}

//Collections
.collection {
    padding: 5% 10%;
    width: 100%;
}
.collection_heading {
    padding: 3% 0%;
    font-size: 3rem;
    letter-spacing: 1.1rem;
    font-family:'Righteous', 'cursive';
}
.dress {
    width: 650px;
    height: 900px;
}
.card {
    margin: 1rem;
    padding: 0% 0% 3%;
    background-color: $white;
}

.size {
    color: $greytext;
    padding: 1% 3%;
    background-color: $violet;
}
.add-to-cart {
    background-color: $black;
    color: $violet; 
    &:focus {
        outline: none;
    }
}

.noty_theme_mint {
    border-radius: 10%!important;
    padding-left: 8px!important;
}